@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
* {
  margin: 0;
}
body {
  background: url(/resource/coffee.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--brown);
}
:root {
  --white: #fefae0;
  --brown: #452103;
}
/* NAVIGATION */
nav {
  text-align: center;
  padding: 30px 5vw;
  align-items: center;
  display: grid;
  grid-template-columns: 200px 200px auto 200px 200px;
  grid-template-rows: 70px;
}
a {
  text-decoration: none;
  color: var(--brown);
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.slogan {
  letter-spacing: 1.5px;
}
.name {
  font-family: "Antic Didone", serif;
  letter-spacing: 3px;
  font-size: 30px;
  margin-bottom: 10px;
}

/* homepage */
hgroup {
  position: absolute;
  top: 35%;
  left: calc(10vw + 50px);
  width: calc(20vw - 50px);
}
#maintext {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 5px;
}

.sequences {
  font-family: "Antic Didone", serif;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  margin-left: 5px;
  margin-bottom: 20px;
}
.cta {
  margin-left: 5px;
}
