@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
* {
  margin: 0;
}
body {
  background: url(/resource/coffee.png);
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--brown);
  margin: 0;
}
:root {
  --white: #fefae0;
  --brown: #452103;
  --beige: #f6f3e9;
  --lbeige: #fbf9f4;
}
/* NAVIGATION */
nav {
  text-align: center;
  padding: 30px 5vw;
  align-items: center;
  display: grid;
  grid-template-columns: 200px 200px auto 200px 200px;
  grid-template-rows: 70px;
}

a {
  text-decoration: none;
  color: var(--brown);
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
p {
  font-weight: 700;
}
.slogan {
  letter-spacing: 1.5px;
}
.name {
  font-family: "Antic Didone", serif;
  letter-spacing: 3px;
  font-size: 30px;
  margin-bottom: 10px;
}
section {
  height: 905px;
}
/* homepage */
.main {
  height: 875px;
}
hgroup {
  position: absolute;
  top: 35%;
  left: calc(10vw + 50px);
  width: calc(20vw - 50px);
}
.maintext {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 5px;
}

h1 {
  font-family: "Antic Didone", serif;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
}

hgroup p {
  margin-left: 5px;
  margin-bottom: 20px;
}
.cta {
  margin-left: 5px;
}
/* -----------About Us----------- */
.aboutus {
  background: url(/resource/p1.png);
  background-size: cover;
  padding: 25px 0;
}
.coffe {
  margin: 250px auto;
  height: 400px;
  width: 1000px;
  max-width: 1000px;
  display: flex;
}
.sometext {
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  color: var(--brown);
  height: 100px;
  width: 400px;
  text-align: center;
  font-size: 30px;
}
.sometext p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
}
.vl {
  position: relative;
  height: 550px;
  border-left: 5px solid var(--brown);
  top: -65px;
}
/* <!-- ===================Menu================== --> */
.menu {
  padding-top: 100px;
}
.upmenu {
  padding: 60px 40px 70px 40px;
  text-align: center;
  color: var(--brown);
}
.upmenu p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: var(--blight);
}
.first {
  font-size: 72px;
}
.bigtag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.br-ctn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.minibr {
  padding: 0 20px;
  width: 400px;
}
.maintag {
  font-size: 20px;
  color: var(--brown);
  padding-bottom: 10px;
  margin: 0;
  text-transform: uppercase;
}
.subtag {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 20px 0 3px 0;
  color: var(--brown);
  text-transform: uppercase;
  font-weight: 900;
}
.items p {
  text-transform: capitalize;
  color: var(--blight);
  padding: 5px;
  font-family: "Roboto", sans-serif;
}
/* -------------------------Contact Us--------------------------- */
.container {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  height: 955px;
  flex-basis: 50%;
}
.left {
  background: var(--brown);
  color: var(--beige);
}
.right {
  background: var(--lbeige);
}
form {
  margin: 3vw;
}
label {
  display: block;
}
.info {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: 300px 300px;
}
.form-el {
  background: var(--lbeige);
  border: none;
  border-bottom: 1px solid var(--brown);
}
textarea {
  background: var(--lbeige);
  border: none;
  border-bottom: 1px solid var(--brown);
  resize: none;
  width: 70%;
}
